.header {
  margin: 0 0 10px;
  padding: 20px 0 10px;
  color: #fff;
  background: #333;
}

.form-row {
  margin: 0 0 10px;
}

.input-group--first {
  margin: 0 0 5px;
}

@media (min-width: 768px) {
  .input-group--first {
    margin: 0 10px 0 0;
  }

  .form-inline .input-group > .input-number {
    width: 70px;
  }  
}

label {
  padding-right: 10px;
}

.projectDisplay {
  margin: 0 0 10px;
}

.installation {
  overflow-x: scroll;
  margin: 10px 0 0;
  padding: 4em 20px 0;
  background: #eee;
}

.wallView {
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.piece {
  position: absolute;
  background: #777;
  /*cursor: move;*/
}

.wallView-text,
.piece-name {
  display: block;
  color: #fff;
  text-align: center;
}

.wallView-text {
  padding: 4px;
  color: #ccc;
}

.piece-name {
  position: relative;
  top: 50%;
  margin-top: -7px;
}