.header {
  margin: 0 0 10px;
  color: #fff;
  background: #333;
}

.form-row {
  margin: 0 0 10px;
}

.input-group--first {
  margin-right: 10px;
}

.form-inline .input-group > .input-number {
  width: 70px;
}

label {
  padding-right: 10px;
}

.projectDisplay {
  margin: 0 0 10px;
}

.installation {
  margin: 10px 0 0;
  padding: 4em 20px 0;
  background: #eee;
}

.wallView {
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.piece {
  position: absolute;
  background: #999;
}

.piece-name {
  display: block;
  padding: 4px;
  color: #fff;
  text-align: center;
}